@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .baker-blind-element-girl-title {
    @apply text-4xl font-bold text-transparent bg-clip-text dark:bg-gradient-to-br dark:from-indigo-500 
    dark:from-10% dark:via-sky-500 dark:via-50% dark:to-emerald-500 dark:to-90% bg-gradient-to-br 
    from-violet-500 from-10% via-purple-500 via-50% to-violet-200 to-90% p-4;
  }
  .dark-bg-gradient {
    @apply dark:bg-gradient-to-br dark:from-slate-600 dark:from-10% 
    dark:via-sky-600 dark:via-40% dark:to-indigo-800 dark:to-90%;
  }
  .secondary-dark-bg-gradient {
    @apply dark:bg-gradient-to-tr dark:from-slate-900 dark:from-10% 
    dark:via-sky-500 dark:via-50% dark:to-slate-900 dark:to-90%;
  }
  .dark-bg-gradient-story {
    @apply dark:bg-gradient-to-br dark:from-indigo-800 dark:from-10% 
    dark:via-blue-500 dark:via-50% dark:to-indigo-800 dark:to-90%;
  }
  .dark-title-h1 {
    @apply dark:bg-gradient-to-br dark:from-indigo-500 dark:from-10% 
    dark:via-sky-500 dark:via-50% dark:to-emerald-500 dark:to-90%;
  }
  .light-bg-gradient {
    @apply bg-gradient-to-br from-indigo-500 from-10% 
    via-indigo-400 via-40% to-indigo-500 to-90%;
  }
  .secondary-light-bg-gradient {
    @apply bg-gradient-to-tr from-cyan-400 from-10% 
    via-slate-50 via-50% to-cyan-400 to-90%;
  }
  .light-title-h1 {
    @apply bg-gradient-to-br from-violet-500 from-10% 
    via-purple-500 via-50% to-violet-200 to-90%;
  }
  .button-card {
    @apply text-sm text-slate-500 bg-slate-300 hover:text-slate-50 
    hover:bg-slate-400 active:text-slate-50 active:bg-slate-500/80
    px-5 py-1 rounded;
  }
  .button-wheels {
    @apply text-sm text-slate-500 bg-slate-300 hover:text-slate-50 
    hover:bg-slate-400 active:text-slate-50 active:bg-slate-500/80
    w-8 h-8 rounded-full;
  }
  .message-cart {
    @apply text-sm text-center text-red-500 bg-orange-200/70 my-2 py-2;
  }
  .shopmenu-mainlink {
    @apply flex items-center justify-start hover:bg-indigo-300 dark:hover:bg-sky-700 
    hover:text-slate-200 active:bg-indigo-400 dark:active:bg-sky-500 px-3 pt-2 pb-1 
    rounded-br-lg rounded-bl-lg;
  }
  .shopmenu-sublinkmapped {
    @apply text-sm hover:bg-indigo-300 dark:hover:bg-sky-700 active:bg-indigo-400 
    dark:active:bg-sky-500 py-2 pl-4;
  }
  .shopmenu-hr {
    @apply border-t-slate-700 border-b-sky-800 px-14 m-auto;
  }
  .shopmenu-hrmapped {
    @apply w-4/5 border-t-slate-700 border-b-sky-800 m-auto;
  }
  .custom-link {
    @apply text-transparent bg-clip-text dark-title-h1 light-title-h1 
    hover:text-fuchsia-600 hover:dark:text-blue-400;
  }
  .custom-li {
    @apply text-lg dark:text-blue-500;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#miniscroll-cart {
  min-height: 100px;
  max-height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

#miniscroll-cart::-webkit-scrollbar {
  width: 10px;
}

#miniscroll-cart::-webkit-scrollbar-track {
  background: #3A4958;
  border-radius: 10px;
}

#miniscroll-cart::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

#miniscroll-cart::-webkit-scrollbar-thumb:hover {
  background: #617891;
}

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: block;
}

.hover-trigger2 .hover-target2 {
  display: none;
}

.hover-trigger2:hover .hover-target2 {
  display: block;
}